.layout {
    background-color: #f9fafa;
    position: relative;
    height: 100vh;
    .app-header {
        margin-left: 300px;
        padding: 0px 10px 0px 10px;
        height: 10vh;
    }
    .header {
        color: var(--services-text-color);
    }
    .hamburger {
        display: none;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .text-toggle-selected {
        color: #5e0ee2;
        font-weight: 600;
        font-size: 12px;
    }
    .text-toggle,
    .text-toggle:hover {
        color: #c4c4c4;
        font-weight: 600;
        font-size: 12px;
    }
    .graph-section-height {
        height: 65vh;
    }

    .sidebar {
        position: fixed;
        left: 0;
        width: 300px;
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border-right: 2px solid #f6f6f6;
        .closeIcon {
            display: none;
        }
        .sidebar-content {
            background-color: #fff;
            border-radius: 10px 10px 10px 14px;
            height: 85vh;
            width: 90%;
            margin-left: 2rem;
        }
    }

    .children {
        margin-left: 300px;
        display: flex;
        height: 90vh;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .content-card {
            height: 100%;
            width: 95%;
        }
    }
    .card_i {
        border-radius: 10px;
        background-color: #fff;
        padding: 10px 14px 10px 14px;
    }
    .border-10 {
        border-radius: 10px;
    }
}

@media screen and (max-width: 768px) {
    .layout {
        .app-header {
            margin-left: 0px;
        }
        .hamburger {
            display: inline;
        }
        .sidebar {
            background-color: #f9fafa;
            margin-left: -1200px;
            width: 100%;
            position: absolute;
            border-right: none;
            justify-content: space-between;

            .closeIcon {
                display: block;
            }
            .sidebar-content {
                height: 90vh;
                width: 90%;
                margin-right: auto;
                margin-left: auto;
            }
        }

        .is_sidebar_open {
            margin-left: 0px;
            transition: 0.5s all ease-in-out;
        }
        .is_sidebar_close {
            margin-left: -1200px;
            transition: 0.5s all ease-in-out;
        }

        .children {
            margin-left: 0px;
        }
    }
}
