.dark .section-3 {
    background: var(--theme-page-background);
}
.section-3 {
    background: var(--ecoSystem-background);
}
.secondary-primary-text {
    color: var(--detail-card-text-color);
}
.card {
    border: none !important;
    background-color: transparent;
}
@media (max-width: 760px) {
    .font-size-media h2 {
        font-size: 27px;
    }
}
