// .section-4{
//     background: var(--gradient-background);
// }
.footer-section {
    background: var(--footer-background);
}
.footer-header-color {
    color: #ffffff;
}
.footer-img img {
    cursor: pointer;
}
.footer-copyright-section {
    border-top: 0.2px solid #edd9ff;
}
.footer-font {
    font-family: font-Regular;
    color: #edd9ff;
    font-size: 16px;
    font-weight: 500;
}
@media (max-width: 760px) {
}
