.footer-section {
    background: var(--gradient-background);
}
.footer-header-color {
    color: #ffffff;
}
.footer-img img {
    cursor: pointer;
}
.footer-copyright-section {
    border-top: 0.2px solid #edd9ff;
}
.footer-font {
    font-family: font-Regular;
    color: #edd9ff;
}
