.section-4{
    background: var(--gradient-background);
}
.footer-header-color{
    color: #FFFFFF;
}
.footer-img img{
    cursor: pointer;
}
.footer-copyright-section{
    border-top: 0.2px solid #EDD9FF;
}
.footer-font{
    font-family: font-Regular;
    color: #EDD9FF;
    font-size: 16px;
    font-weight: 500;
}
@media (max-width: 760px) {
    
}