@font-face {
    font-family: font-Medium;
    src: url(../../assets/fonts/BinancePlex-Medium.ttf);
}
@font-face {
    font-family: font-SemiBold;
    src: url(../../assets/fonts/BinancePlex-SemiBold.ttf);
}
@font-face {
    font-family: font-Regular;
    src: url(../../assets/fonts/BinancePlexRegular.ttf);
}
@font-face {
    font-family: font-AilRegular;
    src: url(../../assets/fonts//Aileron-Regular.otf);
}

@font-face {
    font-family: Aileron-Light;
    src: url(../../assets/fonts/Aileron-Light.otf);
}
@font-face {
    font-family: Aileron-Heavy;
    src: url(../../assets/fonts/Aileron-Heavy.otf);
}
@font-face {
    font-family: Aileron-Bold;
    src: url(../../assets//fonts/Aileron-Bold.otf);
}
@font-face {
    font-family: Aileron-Thin;
    src: url(../../assets//fonts/Aileron-Thin.otf);
}
:root {
    --gradient-background: linear-gradient(
        65.25deg,
        #5105e1 -32.71%,
        #8b2be2 107.11%
    );
    --theme-page-background: linear-gradient(
        5.18deg,
        #080421 4.34%,
        #080421 95.96%
    );
    --app-theme-background-color: #ffffff;
    --ecoSystem-background: #f9fbfc;
    --button-text-color: linear-gradient(180deg, #5f22ae, #b16bdb);
    --button-background-color: linear-gradient(
        107.8deg,
        #5a1eab 9.32%,
        #cb81e9 114.21%
    );
    --light-button-background-color: linear-gradient(180deg, #fff, #fff);
    --detail-card-text-color: #4e5d78;
    --detail-card-background-color: linear-gradient(
        79.97deg,
        #1d1526 5.24%,
        #210049 92.69%
    );
    --dashboard-text-color: #5f10e2;
    --services-text-color: #5e0ee2;
    --footer-dark-mode-color: #321b4b;
}
.dark {
    background: var(--theme-page-background);
}
.homepage-navbar .homepage-navbar-menu ul li a span {
    color: #ffffff;
    font-family: font-Regular;
    letter-spacing: 0.2px;
    cursor: pointer;
}
.homepage-navbar .homepage-navbar-social img {
    padding: 0rem 0.5rem;
    cursor: pointer;
}
.navbar-menu-icon svg {
    color: #ffffff;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}
.text-end {
    text-align: right;
}
.compLogo {
    height: 30px;
    width: auto;
}
.header-title {
    color: var(--detail-card-text-color) !important;
}
