@font-face {
    font-family: font-Medium;
    src: url(../../assets/fonts/BinancePlex-Medium.ttf);
}
@font-face {
    font-family: font-SemiBold;
    src: url(../../assets/fonts/BinancePlex-SemiBold.ttf);
}
@font-face {
    font-family: font-Regular;
    src: url(../../assets/fonts/BinancePlexRegular.ttf);
}
@font-face {
    font-family: font-AilRegular;
    src: url(../../assets/fonts//Aileron-Regular.otf);
}

@font-face {
    font-family: Aileron-Light;
    src: url(../../assets/fonts/Aileron-Light.otf);
}
@font-face {
    font-family: Aileron-Bold;
    src: url(../../assets//fonts/Aileron-Bold.otf);
}
@font-face {
    font-family: Aileron-Thin;
    src: url(../../assets//fonts/Aileron-Thin.otf);
}
:root{
    --gradient-background: linear-gradient(65.25deg, #5105E1 -32.71%, #8B2BE2 107.11%);
    --ecoSystem-background: #F9FBFC;
    --detail-card-text-color: #4e5d78;
    --services-text-color : #5E0EE2; 
}
.homepage-navbar .homepage-navbar-menu ul li a span{
    color: #FFFFFF;
    font-family: font-Regular;
    letter-spacing: 0.2px;
    cursor: pointer;
}
.homepage-navbar .homepage-navbar-social img{
    padding: 0rem 0.5rem;
    cursor: pointer;
}
.navbar-menu-icon svg{
    color: #FFFFFF;
}
.navbar-light .navbar-toggler {
    border-color: transparent;
}
.text-end {
    text-align: right;
}