.light {
    --gradient-background: linear-gradient(
        65.25deg,
        #5105e1 -32.71%,
        #8b2be2 107.11%
    );
    --button-background-color: linear-gradient(180deg, #fff, #fff);
    --descPara-color: rgba(255, 255, 255, 0.34);
    --body-button-color: #6b16e2;
    --backers-background: #f9fbfc;
    --footer-background: linear-gradient(
        65.25deg,
        #5105e1 -32.71%,
        #8b2be2 107.11%
    );
    --layout-background-color: #f9fafa;
    --app-theme-background-color: #fff;
    --stats-name: #8a94a6;
    --sidebar-background: #fff;
    --text-toggle: #5e0ee2;
    --navlink-color: #eaebef;
    --detail-card-text-color: #4e5d78;
    --footer-background: linear-gradient(
        65.25deg,
        #5105e1 -32.71%,
        #8b2be2 107.11%
    );
    --sidebar-line: #f6f6f6;
    --trending-background: #fff;
    --trending-font-color: #4e5d78;
    --trending-para-color: #607d8b;
}
