.light {
    --gradient-background: linear-gradient(
        65.25deg,
        #5105e1 -32.71%,
        #8b2be2 107.11%
    );
    --toastify-color-progress-light: #5a1eab;
    --button-background-color: linear-gradient(180deg, #fff, #fff);
    --descPara-color: rgba(255, 255, 255, 0.34);
    --body-button-color: #6b16e2;
    --backers-background: #f9fbfc;
    --footer-background: linear-gradient(
        65.25deg,
        #5105e1 -32.71%,
        #8b2be2 107.11%
    );
    --dashboard-header-color: #fff;
    --spinner-bg-color: #4e5d78;
    --button-dashboard-background-color: linear-gradient(
        180deg,
        #5e0ee2,
        #5e0ee2
    );
    --hover-class-dex: #f4f6f9;
    --navbar-svg-color: #4e5d78;
    --layout-background-color: #f9fafa;
    --app-theme-background-color: #fff;
    --stats-name: #8a94a6;
    --sidebar-background: #fff;
    --text-toggle: #5e0ee2;
    --navlink-color: #f3f5f6;
    --detail-card-text-color: #4e5d78;
    --footer-background: linear-gradient(
        65.25deg,
        #5105e1 -32.71%,
        #8b2be2 107.11%
    );
    --token-background-color: #f3f6f9;
    --sidebar-line: #f6f6f6;
    --trending-background: #fff;
    --trending-font-color: #4e5d78;
    --trending-para-color: #607d8b;
}
