.services-text {
    color: var(--services-text-color);
}
.text-insta-regular {
    color: var(--detail-card-text-color);
}
// .card-text-align{
//     text-align: justify;
//     word-break: break-all;
// }
@media (max-width: 760px) {
    //align center
    .services_section .container {
        text-align: center;
    }

    //this is flex of our services
    .service-heading {
        display: flex;
        justify-content: center;
    }

    //spaces inline of our services
    .services_section h1 {
        margin-left: 1rem;
        font-size: 40px;
    }
}
