/* .services_section{
    margin-top: 15vh;
}
.services_section h1{
    color: #4e5d78;
    font-family: Aileron-Bold;
    font-size: 72px;
}
.services_section h1 span{
    color: #5E0EE2;
}
.card-body h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.2px;
    color: #4e5d78;
    font-family: font-Regular;
}
.card-body p {
    font-family: font-Regular;
    font-size: 12px;
    line-height: 18px;
    color: #4e5d78;
}
@media (max-width: 991px) 
{
    .services_section h1{
        font-size: 40px;
        text-align: center;
    }
    .mobileViewCenter{
        text-align: center;
    }
} */
.services-text{
    color: #5E0EE2;
}
// .card-text-align{
//     text-align: justify;
//     word-break: break-all;
// }
@media (max-width: 760px) 
{
    //this is flex
    .service-heading{
        display: flex;
        justify-content: center;
    }
    //spaces inline of our services
    .services_section h1{
        margin-left: 1rem;
        font-size: 40px;
    }
    //align center
    .services_section .container{
        text-align: center;
    }
}