.alg {
    min-height: 15vh;
}
.statsContainer {
    min-height: 15vh;
    background: var(--stats-background);
}
.border-bottom {
    border-bottom: 1px solid rgba(44, 9, 11, 0.08);
}
.statsDesc span {
    color: #8a94a6;
    font-size: 12px;
    font-weight: 500;
}
.dark .statsDesc span {
    color: #ffffff;
}
.statsHeader {
    color: #4e5d78;
    font-family: font-AilRegular;
    font-weight: bold;
}
.statsDesc span {
    color: #4e5d78;
    font-weight: 600;
    font-size: 15px;
    font-family: font-Regular;
}
.statsNames {
    color: var(--stats-name);
    font-size: 14px;
    font-weight: 500;
    font-family: font-Regular;
}
