.text-dark-to-light{
    color: var(--detail-card-text-color);
}
.terms .description {
    font-size: 14px;
}
.terms .email-link {
    text-decoration: none;
    color: #b766e1;
}
.header_nav_routes .homepage-navbar .homepage-navbar-menu ul li a span{
    color: var(--detail-card-text-color);
}
.header_nav_routes .navbar-menu-icon svg{
    color: var(--detail-card-text-color);
}
.title {
    font-weight: 700;
    font-family: Aileron-Heavy;
    font-size: 20px;
    margin-bottom: 30px;
}
.description{
    font-size: 14px;
}