.dark .section-5 {
    background-color: #0d0729;
}
.hoverChange :hover {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    border-radius: 0.5rem;
    background-color: #fafafa;
}
.dark .hoverChange :hover {
    background-color: #4e5d78;
}
.imageEdit {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}
.cardEditImg {
    border-radius: 8px;
    width: 100%;
}
.trending-font {
    font-family: font-SemiBold;
    color: #4e5d78;
}
.dark .trending-font {
    color: #ffffff;
}
.trending-header-para {
    color: #607d8b;
    line-height: 1.8;
}
.dark .trending-header-para {
    color: #b0b2b5;
}
.dark .trending-para-dark {
    color: #b0b2b5;
}
.trending-font-para {
    color: #607d8b;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 14px;
    overflow: hidden;
    word-break: break-word;
}
.cardDate {
    color: #4e5d78;
    font-size: 14px;
}
.cards-display {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    min-height: 2.6rem;
    overflow: hidden;
    word-break: break-word;
}
