.hoverChange :hover{
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    border-radius: 0.5rem;
    background-color: #fafafa;
}
.imageEdit {
    border-radius: 1rem;
    display: block;
    width: 100%;
    height:100%;
}
.cardEditImg {
    border-radius: 0.5rem;
    cursor: pointer;
    height: 210px;
    width: 100%;
}
.trending-font{
    font-family: font-SemiBold;
    color: #4e5d78;
}
.trending-header-para{
    color: #607d8b;
    font-weight: 400;
    text-align: justify;
    line-height: 1.8;
}
.trending-font-para{
    color: #607d8b;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-size: 14px;
    overflow: hidden;
    word-break: break-word;
}

.cardEdit {
    border-radius: 1rem;
    padding: 2rem;
    transition: .3s;
}
.cardDate {
    color: #1e2329;
    font-family: font-Regular;
    font-size: 14px;
}
.cards-display{
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        min-height: 2.6rem;
        overflow: hidden;
        word-break: break-word;
}

.cardEdit {
    border-radius: 1rem;
    padding: 2rem;
    transition: .3s;
}