.h-90 {
    height: 90% !important;
}
.h-95 {
    min-height: 95% !important;
}

.w-30 {
    width: 30% !important;
}
.nav-svg-color {
    color: var(--navbar-svg-color);
}
.dark .dashboard-color span {
    color: #ffffff;
}
.dashboard-color span {
    color: #4e5d78;
    font-weight: 600;
    font-size: 15px;
    font-family: font-Regular;
}
.bg-light-secondary {
    background-color: var(--app-theme-background-color);
}
.sidebar-content .nav-item a {
    cursor: pointer;
    color: var(--stats-name);
}
.sidebar-content .nav-item a:hover {
    background-color: var(--navlink-color);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--navlink-color);
}
.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}

.accordion-button::after {
    width: 12px;
    height: 12px;
    background-size: 12px;
}

.accordion-button:focus {
    box-shadow: none;
}
.sidebar-content ul a h6 {
    color: #8a94a6;
}
.text-mini {
    font-size: 10px;
}
.text-12 {
    font-size: 12px;
}
.text-sm-2 {
    font-size: 14px;
}
.dashboard-link-violet {
    color: var(--dashboard-text-color);
}
@media screen and (max-width: 1000px) {
    // .layout {
    //     min-height: 200vh;
    // }
    .w-30 {
        width: 100% !important;
    }
}
@media (min-width: 176px) {
    .justify-content-sm-between {
        justify-content: space-between;
    }
}
