
.section-1{
    height: 100vh;
}
.homepage-body{
    /* background-color: var(--gradient-background); */
    background:url(../assets/images/INSTA.svg), url(../assets//images/RAISE.svg), var(--gradient-background);
    background-repeat: no-repeat;
    background-position: 60%, 70%;
    background-position-y: 28%, 60%;
    height: 88%;
}
.vl{
    border-left: 1px solid #D0B3FE;
    margin-left: 3px;
    height: 35%;
}
.homepage-body-socials img{
    padding: 0.5rem 0rem;
    margin-left: -6px;
}
.homepage-body-description h1{
    color: #FFFFFF;
    line-height: 130%;
    font-size: 60px;
    letter-spacing: 0.2px;
    font-family: Aileron-Bold;
}
.homepage-body-description .homepage-body-description-bodypara{
    color: #FFFFFF;
    font-family: font-Regular;
    font-weight: 550;
    letter-spacing: 0.2px;
}
.vlb p {
    color: rgba(255, 255, 255, 0.34);;
    line-height:1.5rem;
    margin-left: 1rem;
    font-family: font-Regular;
}
.vlb{
    border-left: 3px solid #A97BED;
}
.homepage-body-description .btn{
    padding: 8px 24px;
}
.homepage-body-description .btn span {
    color: #6b16e2;
    font-family: font-Regular;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: .2px;
    line-height: 130%;
}
@media (max-width: 1001px) 
{
    .homepage-body{
        height: 80%;
    }
    /* .homepage-body-description .btn{
        margin-bottom: 2rem;
} */
    .homepage-body-description h1
   {
       font-size:50px;
   }
 
}

/* 
.BodySection{
    background: linear-gradient(165.25deg, #5105E1 -32.71%, #8B2BE2 107.11%);
    height: 85vh;
}


.vlb p {
    color: rgba(255, 255, 255, 0.34);;
    line-height:1.5rem;
    margin-left: 1rem;

}
.vlb button span{
    color: #6B16E2;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.logosEdit img{
    padding: 0.5rem 0rem;
}
.bodyHeaderPara{
    color: #FFFFFF;
    font-family: Aileron-Light;
    font-weight: 550;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.2px;
} */
/* .bodyContent{
    margin: 0rem 4rem;
} */
/* .homepage-body-description h1{
    color: #FFFFFF;
    line-height: 130%;
    font-size: 60px;
    letter-spacing: 0.2px;
    font-family: Aileron-Bold;
}
.btn span{
    color: #6B16E2;
} */
/* @media (max-width: 1000px) 
{
   .bodyContent h1
   {
       font-size:40px;
   }
   .vl{
    height: 95px;
   }
   .featured{
    height: 50vh;
   }
} */