@font-face {
    font-family: font-Medium;
    src: url(../assets//fonts//BinancePlex-Medium.ttf);
}
@font-face {
    font-family: font-SemiBold;
    src: url(../assets/fonts/BinancePlex-SemiBold.ttf);
}
@font-face {
    font-family: font-Regular;
    src: url(../assets/fonts/BinancePlexRegular.ttf);
}
@font-face {
    font-family: Aileron-Light;
    src: url(../assets/fonts/Aileron-Light.otf);
}
@font-face {
    font-family: Aileron-Bold;
    src: url(../assets//fonts/Aileron-Bold.otf);
}
@font-face {
    font-family: Aileron-Thin;
    src: url(../assets//fonts/Aileron-Thin.otf);
}
:root{
    --gradient-background: linear-gradient(165.25deg, #5105E1 -32.71%, #8B2BE2 107.11%)
}
.homepage-navbar .homepage-navbar-menu ul li a span{
    color: #FFFFFF;
    font-family: font-Regular;
    letter-spacing: 0.2px;
}
.homepage-navbar .homepage-navbar-social img{
    padding: 0rem 0.5rem;
    cursor: pointer;
}
.text-end {
    text-align: right;
}

/* .headerSection{
    background: transparent;
    padding: 0.1rem;
}

.headerIcons img{
    padding: 0rem 0.5rem;
}
.nav-item{
    padding: 0rem 1rem;
}
.compLogo{
    height: 25px;
    width: 10px;
} */
/* .container-fluid {
    padding-right: 79px;
    padding-left: 79px;
}
@media (max-width: 992px){
    .container-fluid {
       padding-left: 30px;
       padding-right: 30px;
    }
}

.navbar-nav{
    margin-left: 7.5rem;
}

@media (max-width: 991px){
    .navbar-nav {
       margin: auto;
    }
} */